.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  }
  
  .input {
    width: 400px;
    height: 46px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(30, 30, 30);
    transition: 0.3s ease;
    color: #fff;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }


/*switch*/

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: yellow;
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  background-color: black;
  border-radius: 50px;
  box-shadow: inset 9px 0px 1px 0px white;
}

.switch input:checked + .slider {
  background-color: black;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}


/**/

.Menu{
    display: flex;
    align-items: center;
}

.location {
    display: flex;
    margin-left: 20px;
    align-items: center;
}


.button_grid, .button_ntf {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #1E1E1E;
    margin-right: 10px;
}


.button_grid:hover {
    background-color: #7c7878;
    transition: 0.3s ease;
}

.button_ntf:hover {
    background-color: #7c7878;
    transition: 0.3s ease;
}

.profile {
  display: flex;
  align-items: center;
}


.user_icon {
  width: 40px;
  border-radius: 100%;
}

.auth {
  background-color: rgb(30, 30, 30);
    border: 0;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    color: #fff;
}

.auth:hover {
  background-color: #7c7878;
}

h3 {
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 576px) {
  .input {
    width: 300px;
  }
}