.App {
  text-align: center;
}

.forecast_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.text {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 26px;
    background: gray;
    width: 300px;
    height: 110px;
    border-radius: 15px;
    background: rgb(27, 27, 29);
}
.text-wrapper {
  color: #777777;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
}

.image img {
  width: 50px;
}


.text_status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}